<table border="1" id="announcement_lists_table" >
  <tr>
  	<th>公告者姓名</th>
  	<th style="	min-width: 425px;">標題</th>
    <th>公告開始日</th>
  </tr>
  <% @announcements.each do |announcement| %>
  <tr>
  <td><%= AdmUser.find_by_id(announcement.adm_user_id).name %></td>
  
  <td><%= link_to announcement.subject , announcement , :target=>'_blank' %></td>
  
  <!--<td><%= link_to announcement.subject , '#' , :onclick => "aa("+announcement.id.to_s+")" %></td>-->
  <td><%= announcement.start_show.strftime("%Y/%m/%d") %></td>
  </tr>
  <% end %>
</table>

