<div align = "center">
<%= link_to "新增公告", new_announcement_path %>
<%= link_to "編輯公告", announcements_edit_show_path %>

<%= link_to "管理者頁面", announcements_adm_show_path %>
</div>

<%= render 'fullshow' %>


