<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p><%=@receiver.name%> 您好!</p>
	<p>資安事件ID: <b><%=@job.id%></b></p>	
	<p>此資安事件已超過三天未處理，請至「資安通報系統」平台查看。</p>
	<p>網址：<%=link_to domainName , domainName%></p>
  </body>
</html>