<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>您好! </p>
	<p>有一筆新的資安事件通知，請至「資安通報系統」平台處理。</p>
	<p>網址：<%=link_to domainName , domainName%></p>
	<%= render :partial => "job_detail_form", :locals => { :job_detail => @job.job_detail } %>	
  </body>
</html>