<div id="templatemo_header">
     <div id="logosection">
	        <div class="sitelogo"><%=image_tag("NCTU_icon.gif", :size=>"130x100")%></div>
      </div>
        <div id="header">
        	<div class="title">
	        	<span class="bigtext">
    			<%=link_to '國立交通大學資訊技術服務中心',root_url%>		
	        	</span><br />
	        	資安事件通報系統
    	    </div>
        </div>
</div> <!-- end of templatemo_header -->